.button-style {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-style:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid var(--color-primary);
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: var(--color-secondary);
  }

  .no-results{
    display: none;;
  }