<footer>
    lien reseaux
    Croc'Mignon
    1 bis Boulevard Générale Leclerc
    44360 Saint Etienne de Montluc
    02 40 85 92 86
    <a href="./contact">Contact</a>
    <p>&copy; {{ page.date.getFullYear() }} Your Name. All rights reserved.</p>
</footer>