
<link rel="stylesheet"  href="{{ '/css/icons.css' | url }}"/>
<link rel="stylesheet"  href="{{ '/css/footer.css' | url }}"/>

<footer class="footer-container">
    <div class="bloc">
    <span class="title">Infos pratiques</span>
    <span>Croc'Mignon</span>
    <span>1 bis Boulevard Générale Leclerc</span>
    <span>44360 Saint Etienne de Montluc</span>
    </div>
 </div>

    <div class="bloc">
    <span class="title">Contacts</span>
    <span>02 40 85 92 86</span>
    <div class="reseaux">
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-envelope"></a>
</div>
    <a href="./contact">Contact</a>
 </div>


    <div class="bloc">
    <span class="title">Plan du site</span>
    <a href="./contact">Plan du site</a>
 </div>

</footer>
