
<link rel="stylesheet"  href="{{ '/css/nav.css' | url }}"/>

<div class="topnav" id="myTopnav">
  <div class="nav-button">
    <a href="{{ '/' | url }}">Présentation</a>
    <a href="{{ '/photos' | url }}">Photos</a>
    <a href="{{ '/prestations' | url }}">Préstations</a>
  </div>
    <img src="/images/svg/dog-paw.svg" alt="logo" class="logo">
    <div class="nav-button">
    <a href="{{ '/boutique' | url }}">Boutique</a>
    <a href="{{ '/avis' | url }}">Livre d'or</a>
    <a href="{{ '/infos' | url }}">Infos pratiques</a>
    <a href="{{ '/reseaux' | url }}">Reseaux</a>
    </div>


  <a href="javascript:void(0);" class="icon" onclick="responsiveNavBar()">
    <i class="fa fa-bars"></i>
  </a>
</div>
