<nav>
    <ul>
        <li><a href="{{ '/' | url }}">Présentation</a></li>
        <li><a href="{{ '/photos' | url }}">Photos</a></li>
        <li><a href="{{ '/prestations' | url }}">Préstations</a></li>
        <li><a href="{{ '/boutique' | url }}">Boutique</a></li>
        <li><a href="{{ '/avis' | url }}">Livre d'or</a></li>
        <li><a href="{{ '/infos' | url }}">Infos pratiques</a></li>
        <li><a href="{{ '/reseaux' | url }}">Reseaux</a></li>
    </ul>
</nav>