

.footer-container{
    padding: 1rem 0px 1rem 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    span,a{

    font-size: 0.75rem;
    }
}

.title{
    font-weight: 700;
}

.reseaux{
    display: flex;
}

.bloc{
    display: flex;
    flex-direction: column;
}
