:root{
  --max-width-photo: 430px;
  --max-height-photo: 330px;
}

.placeholder{
    display:contents
}

.sc-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;;

    #galleryChat img,
    #galleryChien img,
    .img-comp-container{
    max-width: var(--max-width-photo);
    max-height: var(--max-height-photo);
    border: 10px solid var(--color-primary);
    border-radius: 17px;
    }
}

.toggle{
  gap: 1rem;
  margin-bottom: 2rem;
}

/*toggle emoji*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Emoji inside the slider */
.slider::before {
  content: "⭕";
  position: absolute;
  left: 6px;
  bottom: 3px;
  font-size: 20px;
  transition: 0.4s;
}

/* When checked, change background and emoji */
input:checked + .slider {
  background-color: var(--color-primary);
}

input:checked + .slider.cat::before {
  content: "😺";
  transform: translateX(26px); /* Move to right */
}
input:checked + .slider.dog::before  {
  content: "🐶";
  transform: translateX(26px); /* Move to right */
}
input:checked + .slider.both::before  {
  content: "✂";
  transform: translateX(26px); /* Move to right */
}

/*comparison-slider*/

.image-comparison {
  max-width: 700px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
}

.image-comparison img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-comparison .images-container {
  position: relative;
  display: flex;
}

.image-comparison .images-container .before-image {
  position: absolute;
  top: 0;
  width: 50%;
}

.image-comparison .slider {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.image-comparison .slider-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.image-comparison .slider-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  transform: translate(-50%, -50%) rotateZ(90deg);
}

.img-comp-container {
  position: relative;
  height: var(--max-height-photo);
  width: var(--max-width-photo);

  img{
    max-width: var(--max-width-photo);
    max-height: var(--max-height-photo);
  }
}

.img-comp-img {
  position: absolute;
  overflow:hidden;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}