---
layout: base.njk
title: Photos
---
<script type="text/javascript"  src="/js/photo.js"></script>
<link rel="stylesheet"  href="/css/photo.css"/>
<script>
initComparisons();
</script>


<h1>Gallerie photos</h1>

<label>
  <input type="checkbox" id="cb_chat" checked>
  Chat
</label>
<label>
  <input type="checkbox" id="cb_chien" checked>
  Chien
</label>
<label>
  <input type="checkbox" id="cb_avantapres" checked>
  Avant-Apres
</label>

<div class="sc-gallery">
<div id="galleryChat" class="placeholder">
  test div chat
  {% set chatImages = images | textIncludes("chat") %}
  {% for image in chatImages %}
    <img src="/images/{{ image }}" alt="Image">
  {% endfor %}
</div>

<div id="galleryChien"  class="placeholder">
  {% set chienImages = images | textIncludes("chien") %}
  {% for image in chienImages %}
    <img src="/images/{{ image }}" alt="Image">
  {% endfor %}
</div>

<div id="galleryAvantApres"  class="placeholder">
  {% set avap = images | textIncludes("avant-apres") %}
  {% for image in avap %}
    <img src="/images/{{ image }}" alt="Image">

    {% if loop.index is odd and loop.index < avap | length %}
      {% set beforeImage = image %}
      {% set afterImage = avap[loop.index] %}
      {% comparisonSlider "/images/"+beforeImage, "/images/"+afterImage %}
    {% endif %}
  {% endfor %} 

{% comparisonSlider "/images/avant-apres/spitz_petit_1.jpeg", "/images/avant-apres/spitz_petit_2.jpeg" %}
</div>

  </div>
